{% extends 'users/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
{% endblock %}

{% block body %}

  <div class="bg-4">
    <div class="title-div">
      <h2 class="main-title">Track your blood pressure,</h2>
      <h3 class="secondary-title"> Get instant suggestions,</h3>
      <h2 class="main-title">Keep in touch with your doctor!</h2>
    </div>

    <div class="find-doctor-div">
      <!-- Add a divisor of some sort here -->
      <h4>Find your doctor now:</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">

        </div>

        <div class="col">
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}