{% extends 'users/base.html' %}

{% block body %}
    
    
    <div class="form-wrapper">

        <br>

        <h3>DOCTOR DASHBOARD</h3>

        <br>

        <div id="newUserInput">
            <a class="btn btn-info" href="{% url 'giveAdvice' %}">Give Suggestion to Patient</a>
        </div>

        <br>

        <br>
        <br>

    
        {% for p in patients %}
            <form action="/doctorpatient/seeUser/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="patientname" value={{p.user.username}}>
                <p>{{forloop.counter}}: <input type="submit" value={{p.user.username}} class="btn btn-info"></p>
            </form>    
            <br>
        {% endfor %}
    </div>

{% endblock %}