{% extends 'users/base.html' %}

{% block body %}
    DOCTOR DASHBOARD
    
    <br>
    <br>

    <div class="form-wrapper">
        {% for p in patients %}
            <form action="/doctorpatient/seeUser/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="patientname" value={{p.user.username}}>
                <p>{{forloop.counter}}: <input type="submit" value={{p.user.username}} class="btn btn-info"></p>
            </form>    
            <br>
        {% endfor %}
    </div>

{% endblock %}