p {
    margin: 0%!important;
    padding: 0%!important;
}

header {
    background-color: #e5383b;
}

footer {
    background-color: #00B4D8;
    color: #F1FAEE;
    padding-left: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    align-content: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    /* padding-bottom: 2.5rem;    Footer height */
}

.form-wrapper {
    /* margin-left: 25%!important; */
    align-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
    display: table;
}

.form-wrapper-70 {
    /* margin-left: 25%!important; */
    align-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    display: table;
}

.form-wrapper-80 {
    /* margin-left: 25%!important; */
    align-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    display: table;
}

.form-wrapper-90 {
    /* margin-left: 25%!important; */
    align-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
    display: table;
}

.centre-wrapper {
    align-content: center;
    text-align: center;
    margin: auto;
    display: table;
}

.bg-4 {
    background-color: #006466;
    color: #F4F9F9;
}

/* Title Div START */
.title-div {
    text-align: center;
}

.main-title {
    color: #80b918!;
}

.secondary-title {
    color: #00ffe7!;
}

/* Title Div END */