/* Background Colors START */
.bg-1 {
    background-color: #E2FAB5;
    color: black;
    padding: 2%;
}

.bg-2 {
    background-color: #C7F6B6;
    color: black;
    padding: 2%;
}

.bg-3 {
    background-color: #99EE99;
    color: black;
    padding: 2%;
}

.bg-4 {
    background-color: #006466;
    color: #F4F9F9;
}

.bg-5 {
    background-color: #047972;
    color: #F4F9F9;
}

.bg-6 {
    background-color: #ABC5C7;
}

/* Background Colors END */

/* Title Div START */
.title-div {
    text-align: center;
}

.main-title {
    color: #80b918;
}

.secondary-title {
    color: #00ffe7;
}

/* Title Div END */

/* Aligners START */
.centre-wrapper {
    align-content: center;
    text-align: center;
    margin: auto;
    display: table;
}

/* Aligners END */