.bg-1 {
    background-color: #E2FAB5;
    color: black;
    padding: 2%;
}

.bg-2 {
    background-color: #C7F6B6;
    color: black;
    padding: 2%;
}

.bg-3 {
    background-color: #99EE99;
    color: black;
    padding: 2%;
}

.bg-4 {
    background-color: #56A5B0;
    color: #F4F9F9;
}

.bg-5 {
    background-color: #047972;
    color: #F4F9F9;
}

.bg-6 {
    background-color: #ABC5C7;
}