{% extends 'users/base.html' %}
{% block body %}
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: {{ labels|safe }},
            datasets: [{                 // Chart parameters here!!!
                label: 'Diastolic Blood Pressure',
                fill: false,
                backgroundColor: 'rgb(146,219,234)',
                borderColor: 'rgb(128, 128, 128)',    //Line colour
                data: {{ dia_data|safe }}
            },{
                label: 'Systolic Blood Pressure',
                fill: '-1',
                backgroundColor: 'rgb(242,82,135)',
                borderColor: 'rgb(0, 0, 0)',
                data: {{ sys_data|safe }}
            }]
        },
    
        // Configuration options go here
        options: {
        }
    });
</script>

{% endblock %}
