{% extends 'users/base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
{% endblock %}

{% block body %}

    <br>
    <br>

    <div class="form-wrapper">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <h2>Input Data</h2>
                <p><b>High Blood Pressure</b></p>
                <input type="text" class="form-control" name="high_blood_pressure">
                <br>
                <p><b>Low Blood Pressure</b></p>
                <input type="text" class="form-control" name="low_blood_pressure">
                <br>
                <p><b>Date Recorded</b></p>
                <input type="date" class="form-control" name="date_recorded">
                <br>
                <button type="submit" class="btn btn-info" name="input_data" value="input_data">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}